/* google fonts */
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");

/* font-family: "Inter", sans-serif; */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  max-width: 1380px;
  margin: 0 auto;
  font-family: "Inter", sans-serif;
  background-color: #111111;
  color: white;
}

/* common section design starts here */
.orange-text {
  color: #e6533c;
  font-style: italic;
  font-size: 2rem;
}

.btn-primary {
  background-color: #e6533c;
  font-size: 1rem;
  width: 190px;
  height: 40px;
  border: none;
  border-radius: 2.5rem;
  color: white;
}

.main-title {
  font-size: 3rem;
  font-weight: 800;
  line-height: 140%;
}
.sub-title {
  font-size: 1.9rem;
  font-weight: 600;
}

.desc {
  width: 80%;
  line-height: 140%;
  font-size: 0.9rem;
  font-weight: 400;
  opacity: 0.7;
}

.display-flex {
  display: flex;
  justify-content: center;
  align-items: center;
}
.display-flex-column {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

/* common section design ends here */

/* header section design starts here */
.header-container {
  height: 100vh;
  margin-top: 30px;
  padding: 20px;
  /* border: 2px solid red; */
}

/* navbar section design starts here */
.nav-bar {
  justify-content: space-between;
}

.nav-bar ul {
  gap: 35px;
  border: 1px solid white;
  border-radius: 30px;
  padding: 5px;
}

.nav-bar ul li {
  list-style: none;
}

#home-btn {
  background-color: #e6533c;
  border-radius: 30px;
  padding: 5px 13px;
}

.bar {
  display: none;
}
/* navbar section design ends here */

/* banner section design starts here */
.banner-container {
  justify-content: space-between;
  gap: 200px;
  margin-top: 50px;
}

.banner-text {
  width: 50%;
  /* border: 2px solid white; */
}
.banner-img {
  width: 50%;
  /* border: 2px solid blue; */
  position: relative;
}

.style-text {
  font-family: "Style Script", cursive;
  font-style: italic;
}

.banner-text .desc {
  margin: 40px 0;
}

.btns {
  justify-content: flex-start;
  gap: 20px;
}

#download-btn {
  background-color: #111111;
  color: white;
  font-size: 1rem;
  width: 190px;
  height: 40px;
  border: 1px solid white;
  border-radius: 2.5rem;
}

.resource-1,
.resource-2 {
  width: 170px;
  height: 80px;
  background-color: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(2px);
  border-radius: 1rem;
}

.resource-1 {
  position: absolute;
  left: 70px;
  bottom: 100px;
  gap: 10px;
}

.resource-2 {
  position: absolute;
  flex-direction: column;
  align-items: flex-start;
  padding: 15px;
  top: 120px;
  right: 100px;
}

.red-dot {
  width: 30px;
  height: 30px;
  background-color: red;
  border-radius: 50%;
}

.resource-1 .desc {
  width: 100px;
}

.resource-1 .desc,
.resource-2 .desc {
  font-size: 0.7rem;
}
/* banner section design ends here */
/* header section design ends here */

/* main section design starts here */
/* change your habit section design starts here */
.change-your-habits-section {
  /* border: 2px solid red; */
  padding: 20px;
}

.habit-text {
  width: 60%;
  margin: 0 auto;
  text-align: center;
  flex-direction: column;
  /* border: 2px solid white; */
}

.habit-text .desc {
  margin-top: 18px;
}

.habits {
  margin-top: 30px;
  /* border: 2px solid white; */
  display: flex;
  justify-content: center;
  align-items: center;
}

.movement img {
  border-radius: 50%;
}

.habits-title {
  margin-top: 15px;
}

.display-flex-column .desc {
  margin-top: 10px;
  text-align: center;
}
/* change your habit section design ends here */

/* run section design starts here */
.run-section {
  width: 90%;
  border-radius: 18px;
  background: rgb(34, 34, 34);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 100px;
  margin: 0 auto;
  margin-top: 50px;
  padding: 30px;
}

.run-text {
  width: 50%;
}

.run-text .desc {
  margin: 20px 0;
}

.run-img {
  width: 50%;
}

.run-img img {
  width: 100%;
  border-radius: 18px;
}
/* run section design ends here */

/* bmi calculator section design starts here */
.bmi-calculator-section {
  margin-top: 40px;
}

.bmi-text {
  width: 50%;
  margin: 0 auto;
}

.calculator-container {
  padding: 20px;
  background: rgb(34, 34, 34);
  margin-top: 30px;
  display: flex;
  gap: 150px;
  /* border: 2px solid red; */
}

.chart {
  width: 40%;
  /* border: 2px solid white; */
}

.chart .sub-title,
.calculator-box .sub-title {
  text-align: left;
  /* border: 2px solid blue; */
  /* justify-content: flex-start; */
}

.calculator-box {
  width: 60%;
  /* border: 2px solid blue; */
}

.chart .sub-title {
  font-size: 1.5rem;
  margin-bottom: 20px;
}

table {
  border-collapse: collapse;
}

td,
th {
  border: 1px solid white;
  padding: 5px 10px;
}

th {
  text-align: left;
}

.box {
  border-radius: 8px;
  background: rgba(255, 255, 255, 0.1);
  padding: 10px;
  border: none;
}

/* .height-weight input,
.age-sex input,
.age-sex select {
  width: 250px;
} */

.calculator {
  display: grid;
  gap: 8px;
  margin-top: 30px;
  /* border: 2px solid red; */
  grid-template-areas:
    "height weight"
    "age sex";
}

.activity select,
.calculator select {
  color: rgb(114, 118, 125);
}

.height,
.weight,
.age,
.sex {
  width: 300px;
  padding: 15px 20px;
}

.activity {
  width: 610px;
  margin-top: 8px;
  border-radius: 8px;
  /* border: 2px solid yellow; */
}

.activity select {
  width: 100%;
  padding: 15px 20px;
}

.height {
  grid-area: height;
}

.weight {
  grid-area: weight;
}

.age {
  grid-area: age;
}

.sex {
  grid-area: sex;
}

.factor {
  grid-area: factor;
}

.calculate-btn {
  margin-top: 30px;
  margin-left: -410px;
}

/* bmi calculator section design ends here */

/* meet out team design starts here */
.team-text {
  width: 60%;
  margin: 0 auto;
  margin-top: 100px;
  /* border: 2px solid red; */
}

.team-text .sub-title,
.team-text .desc {
  margin: 0 auto;
  text-align: center;
}

.team-text .desc {
  margin-top: 25px;
}

.team-container {
  background: rgb(34, 34, 34);
  border-radius: 20px;
  width: 80%;
  margin: 0 auto;
  padding: 20px;
  margin-top: 30px;

  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 15px;
}

.trainer-1 {
  position: relative;
  width: 100%;
  height: 100%;
}

.trainer-1 img {
  width: 345px;
  height: 345px;
  border-radius: 20px;
  filter: brightness(0.7);
}

.t-name {
  position: absolute;
  left: 25px;
  bottom: 25px;
}

/* meet out team design ends here */

/* main section design ends here */

/* footer section design starts here */
.footer-container {
  background: rgb(34, 34, 34);
  margin-top: 80px;
}

.footer-content {
  width: 80%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 100px;
  padding: 20px;
}

.fitness {
  width: 40%;
  margin-top: 40px;
}

.footer-content .fitness .orange-text {
  font-size: 4rem;
  margin-bottom: 20px;
}

.get-started {
  width: 30%;
  margin-top: 40px;
}

.get-started .sub-title {
  margin-bottom: 40px;
}

.get-started li {
  list-style: none;
  opacity: 0.7;
}

.footer-hr {
  width: 80%;
  margin: 0 auto;
  margin-top: 80px;
}

.reserved {
  text-align: center;
  font-size: 1.2rem;
  font-weight: 500;
  padding: 50px;
  /* margin-bottom: 50px; */
  opacity: 0.7;
}

.gap-ul li {
  margin-bottom: 15px;
}

/* footer section design ends here */

/* responsive design for small screens */
@media screen and (max-width: 576px) {
  .nav-bar ul {
    display: none;
  }

  .desc {
    font-size: 0.8rem;
  }

  .bar {
    display: block;
  }

  .banner-container {
    flex-direction: column;
  }

  .banner-text {
    width: 90%;
  }

  .main-title {
    font-size: 2rem;
  }

  .banner-img {
    margin-top: -145px;
  }

  .resource-1,
  .resource-2 {
    width: 150px;
    height: 70px;
  }

  .resource-1 {
    left: -60px;
    bottom: 240px;
  }

  .resource-2 {
    top: 100px;
    right: -70px;
  }

  .resource-2 .desc {
    width: 140px;
  }

  .change-your-habits-section {
    margin-top: 430px;
  }

  .habit-text {
    width: 90%;
  }

  .sub-title {
    font-size: 1.5rem;
  }

  .habit-text .desc {
    font-size: 0.8rem;
  }

  .habits {
    flex-direction: column;
    gap: 20px;
  }

  .run-section {
    flex-direction: column;
    padding: 10px;
    gap: 50px;
  }

  .run-text,
  .run-img {
    width: 90%;
  }

  .bmi-text {
    width: 90%;
  }

  .calculator-container {
    flex-direction: column;
    gap: 50px;
  }

  .chart {
    width: 90%;
  }

  .calculator-box {
    width: 100%;
  }

  .calculator-box {
    /* border: 2px solid rgb(0, 255, 81); */
    align-items: left;
  }

  .calc-input {
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: left;
    flex-direction: column;
    /* border: 2px solid blue; */
    /* box-sizing: border-box; */
    margin: 0 auto;
  }

  .calculator {
    width: 90%;
    margin: 0;
    padding: 0;
    column-gap: 8px;
    margin-top: 30px;
    /* border: 2px solid red; */
    margin-left: -17px;
  }

  .height,
  .weight,
  .age,
  .sex {
    max-width: 160px;
    /* margin-left: -8px; */
  }

  .activity {
    /* border: 1px solid green; */
    max-width: 328px;
    margin-left: -16px;
  }

  .calculate-btn {
    margin-left: -145px;
  }

  .team-text {
    width: 90%;
  }

  .team-container {
    width: 90%;
    grid-template-columns: repeat(1, 1fr);
  }

  .trainer-1 img {
    width: 100%;
    height: 100%;
  }

  .footer-content {
    width: 90%;
    flex-direction: column;
  }

  .fitness,
  .get-started {
    width: 90%;
  }

  .reserved {
    text-align: left;
    padding: 40px;
    font-size: 1rem;
  }

  .footer-content .fitness .orange-text {
    font-size: 3.5rem;
  }
}
